  <div class="jumbotron">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Where you find the best rooms in town.</p>
    <hr class="my-4">
    <p>Check below all the rooms listed.</p>

    <hr class="my-4">

    {{!-- <a class="btn btn-primary btn-lg" href="/courses" role="button">courses</a> --}}

    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="/users" role="button">users</a>
  </div>
</div>