  <script>idRoom = null;</script>
  <div class="jumbotron">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Where you find the best rooms in town.</p>
    <hr class="my-4">
    <p>Check below all the listed rooms.</p>

    <div id="map"></div>

    <hr class="my-4">

    {{#each rooms}}
      <p><a href="/room/{{_id}}">{{name}}</a></p>
      <p>{{description}}</p>
    <hr class="my-4">

    {{/each}}
    {{!-- <a class="btn btn-primary btn-lg" href="/courses" role="button">courses</a> --}}

    <a class="btn btn-primary btn-lg" href="/users" role="button">users</a>
  </div>
</div>