  <script>idRoom = null;</script>
  <div class="jumbotron">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Where you find the best rooms in town.</p>
    <hr class="my-4">
    <p>Check below all the listed rooms.</p>

    <div id="map"></div>

    <hr class="my-4">

    <input type="text" name="search" class="form-control" placeholder="find a room">
    
    <hr id="roomsBelow" class="my-4">

    <div class="row">
    {{#each rooms}}
      <div class="room col-md-4">
        <p><a href="/room/{{_id}}">{{name}}</a></p>
        <p>{{description}}</p>
        <hr class="my-4">
      </div>
    {{/each}}
    </div>
    {{!-- <a class="btn btn-primary btn-lg" href="/courses" role="button">courses</a> --}}

    {{!-- <a class="btn btn-primary btn-lg" href="/users" role="button">users</a> --}}
  </div>
</div>